/* here you can put your own css to customize and override the theme */
.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc;
}

.texto-receita {
	color: #0044cc;
}

.texto-despesa {
	color: #e02222;
}

.pagination ul {
	display: inline-block;
	padding-left: 0
}
.td-border-bottom {
	border-top:0;
	border-bottom: 1px solid #ddd;
}

.table.lancamentos>thead>tr>th, 
.table.lancamentos>tbody>tr>th, 
.table.lancamentos>tfoot>tr>th, 
.table.lancamentos>thead>tr>td, .table.lancamentos>tbody>tr>td, .table.lancamentos>tfoot>tr>td {
	border-top:0;
}